/* Color Template */ 
.color-primary{
    color: $color-primary;
}

.color-primary-bg{
    background: $color-primary;
}

.color-second{
    color: $color-second;
}

.color-second-bg{
    background: $color-second;
}

.color-yellow{
    color: $color-yellow;
} 

.color-yellow-bg{
    background: $color-yellow;
}

.color-red{
    color: $color-red;
}

.color-red-bg{
    background: $color-red;
}



.color-light-blue{
    color: $color-light-blue;
}

.color-color-light-blue-bg{
    background: $color-light-blue;
}